{% extends "base.html.twig" %}
{% block title %}
Connection
{% endblock %}
{% block css %}
"assets/css/signin.css"
{% endblock %}
{% block content %}
<div class="container">
    <div id="c_parent_login" class="columns is-centered is-desktop is-vcentered is-flex-touch">
        <div class="column is-one-third c_login pt-0">
            <h2 class="title is-3 has-text-centered">SIGN IN</h2>
            <form novalidate method="POST" id="form_signin">
                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input is-medium" type="email" name="u_email" placeholder="Enter email" id="user_email" required >
                        <div class="icon is-left">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input is-medium" type="password" name="u_password" placeholder="Enter password" id="user_password" required>
                        <div class="icon is-left">
                            <span class="fas fa-unlock-alt"></span>     
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="submit" class="input button is-centered is-medium" name="login" value="LOGIN">
                    </div>
                </div>
            </form>
            <p id="check_login" class="verif has-text-centered"></p>

            <p class="new has-text-right">No account ? <a href="{{ SERVER_URI }}/signup" class="link">create one !</a></p>
        </div>
    </div>
</div>
{% endblock %}
{% block scriptjs %}
    <script src="assets/js/form_signin.js" crossorigin="anonymous"></script>
{% endblock %}