{% extends "base.html.twig" %}
{% block title %}
Test
{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
<div class="container">
    <div id="c_parent_login" class="columns is-centered is-desktop is-vcentered is-flex-touch">
        <div class="column is-6 c_login">
            <h2 class="title is-2 has-text-centered">Personnal Informations</h2>
            <form novalidate id="form_user" method="POST">
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <input  class="input" type="text" name="firstName" id="f_name" value="{{ user.1 }}" placeholder="Enter first name">
                            </div>
                            <p id="check_firstname" class="verif"></p>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input  class="input" type="text" name="lastName" id="l_name" value="{{ user.2 }}" placeholder="Enter last name">
                            </div>
                            <p id="check_lastname" class="verif"></p>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" name="phone" id="phone" value="{{ user.3 }}" placeholder="Enter phone">
                            </div>
                            <div id="check_phone" class="verif"></div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <input  class="input" type="password" name="password" placeholder="Old password" id="password">
                            </div>
                            <div id="check_password" class="verif"></div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input  class="input" type="password" name="password_new" placeholder="New password" id="password_new">
                            </div>
                            <div id="check_password_new" class="verif"></div>
                        </div>       
                        <div class="field">
                            <div class="control">
                                <input  class="input" type="password" name="password_confirm" placeholder="Confirm password" id="password_confirm">
                            </div>
                            <div id="check_password_confirm" class="verif"></div>
                        </div>
                    </div>

                </div>
                <div class="field">
                    <div class="buttons">
                        <button class="button is-primary">cancel</button>
                        <button class="button is-link">confirm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scriptjs %}
    <script src="{{ SERVER_URI }}assets/js/form_user.js" crossorigin="anonymous"></script>
{% endblock %}

