@font-face {
    font-family: 'nunito-bold';
    src: url('../fonts/nunito/Nunito-Bold.eot');
    src: local('☺'), url('../fonts/nunito/Nunito-Bold.woff') format('woff'), url('../fonts//nunito/Nunito-Bold.ttf') format('truetype'), url('../fonts//nunito/Nunito-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'nunito-regular';
    src: url('../fonts/nunito/Nunito-Regular.eot');
    src: local('☺'), url('../fonts/nunito/Nunito-Regular.woff') format('woff'), url('../fonts//nunito/Nunito-Regular.ttf') format('truetype'), url('../fonts//nunito/Nunito-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}