    // -----------------
    // Variables globales
    // -----------------
    $font-text :  'nunito-regular';
    $font-title : 'nunito-bold';
  
    $color-primary      :   #343a40;
    $color-secondary    :   #3DBA29;
    $color-white        :   white;
    $color-red          :   red;
    $grey-lighter       :   hsl(0, 0%, 86%);
    
    $border : 1px solid #4b545c;
    $red : rgb(255, 0, 0);