//list d'import
@import "import.scss";

// -----------------
// Formulaire de connexion
// -----------------
#c_parent_login {
    height: 100vh;
    .c_login {
        background: #FFFFFF;
        box-shadow: 0px 0px 4px 4px #BBBBBB;
        border-radius: 62px;
        // max-width: 634px;
        #form_signin {
            .control input:not(:last-child) {
                margin-bottom: 20px;
            }
            input {
                font-family: $font-text; 
                border-radius: 8px;
                &[name=login] {
                    background-color: $color-secondary;
                    color: $color-primary;
                    border: none;
                }
                &:focus {
                    border-color: $color-primary;
                    box-shadow: none;
                }
            }
        }
    }
}

.verif {
    color: $color-red;
    margin: 20px;
    text-align: center;
}
body {
    background-color: #3087b8;
}

.new {
    padding-right: 25px;
}
.link, .link:hover {
    color: #2348cf;

}

h2 {
    padding-top: 25px;
    margin-top: 0px;
    background-color: #36383E;
    padding: 25px 0;

    margin-right: -13px;
    margin-left: -12px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    color: white!important;
}

