//list d'import
@import "import.scss";

// -----------------
// Formulaire de connexion
// -----------------
#c_parent_login {
    height: 100vh;
    .c_login {
        background: $background-secondary;
        box-shadow: 0px 0px 4px 4px #BBBBBB;
        border-radius: 62px;
        // max-width: 634px;
        #form_signin {
            .control input:not(:last-child) {
                margin-bottom: 20px;
            }
            input {
                font-family: $font-text; 
                border-radius: 8px;
                &[name=login] {
                    background-color: $color-secondary;
                    color: $color-primary;
                    border: none;
                }
                &:focus {
                    border-color: $color-primary;
                    box-shadow: none;
                }
            }
        }
    }
}

.verif {
    margin: 20px;
}


.new {
    padding-right: 25px;
}



